* {


    gap: 10px;

}



#wrap_wrap {
    width: 100%;
    height: 50px;
    color: white;
    background-color: #353535;
}

#wrap {
    width: 100%;
    height: auto;
    /*     background-color: lightgray;
 */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

#header {
    width: 100%;
    height: auto;
}

#gnb_top {
    margin: 0 auto;
    background-color: #15426e;
    color: white;
    width: 1200px;
    height: 36px;
    display: flex;
    justify-content: space-between;
}

#wrap_blue.blue {
    width: 100%;
    height: auto;
    color: white;
    background-color: #15426e;
}
#wrap_bluee.blue {
    width: 100%;
    height: auto;
    color: white;
    background-color: #15426e;
}


#gnb_top_menu {
    color: white;
    width: 60%;
    height: 100%;
}

#gnb_top_menu>ul {
    display: flex;
    align-content: flex-start;
    flex-direction: row;

    flex-wrap: wrap;
    gap: 0;
}

#gnb_top_menu>ul>li {
    width: 95px;
    height: 36px;
    line-height: 34px;
    text-align: center;
}


.button {
    color: rgba(255, 255, 255, 0.8);
    font-weight: normal;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
}

.glow_button:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 5px rgba(182, 218, 230, 0.4);
}

#gnb_option {
    width: 34%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

#gnb_option>div {
    width: 30%;
    text-align: center;
}

#gnb_option>div:first-child {
    padding-left: 50px;
}



#wrap_wrap.white {
    width: 100%;
    height: auto;
    background-color: white;
}
#wrap_wrapp.white {
    width: 100%;
    height: auto;
    background-color: white;
}


#gnb_menu {
    margin: 0 auto;
    background: white;
    width: 1200px;
    height: 120px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#h_logo {
    width: 20%;
    height: 80%;
    background: url(../images/logo2.PNG) no-repeat left;
    background-size: contain;
    cursor: pointer;

}

#gnb_nav {
    width: 100%;
    height: 120px;

    display: flex;
    justify-content: right;
    align-items: center;
    color: black;
}

#gnb_nav>ul {

    text-align: right;
    padding-left: 100px;
}

#gnb_nav>ul>li {
    float: left;
    font-size: 20px;
    margin-right: 40px;
    height: 100%;
    line-height: 120px;
    cursor: pointer;
}

#gnb_nav>ul>li:last-child {
    margin-right: 0px;
}

#gnb_nav>ul>li>ul {
    position: relative;
    top: 100px;
    z-index: 999999;
}

#gnb_nav #wrap1 {
    outline: 5px solid blue;
    position: relative;
    z-index: 999999999;
    top: 25px;
    width: 1000px;
    height: 400px;
    background-color: blanchedalmond;


}

#gnb_nav #wrap1 ul {


    position: relative;
    z-index: 999999;

    /*  display: none; */
    /* 서브메뉴글자 사라지게 */
}

.fu .minibox {
    width: 200px;
    height: auto;
    background-color: blueviolet;
    border-radius: 10px 60px;
}

.depth1-1 {
    float: left;
}






#nav {
    width: 100%;
    height: 400px;
    position: absolute;
    z-index: 99999;
    background-color: blanchedalmond;
}

#nav>#subshadow_box {
    width: 100%;
    height: 400px;
    position: absolute;
}

#nav>#subshadow_box>.nav_back {
    width: 40%;
    height: 100%;
    background: url(../images/gnb_bg.jpg) no-repeat left;
    background-size: cover;
}





#header_search {
    width: 1200px;
    height: 40px;
    margin: 0 auto;
    display: flex;
}

#h_search {
    width: 100%;
    height: 100%;
    background-color: #636363;
}


/* 헤더 끝 */
 